@page "/"
@using OneClick.Shared.Entities
@using OneClick.Frontend.Components

<style>
    /* Custom class for the Hero Banner gradient */
    .hero-banner {
        background: linear-gradient(135deg, #d84315 0%, #b71c1c 100%);
        color: white;
    }
</style>

<PageTitle>Catalog - OneClick</PageTitle>

<div class="container-fluid p-4">

    @if (products is null && isLoading)
    {
        <div class="d-flex">
            <div class="d-flex flex-column align-items-center justify-content-center py-5">
                <div class="spinner-border text-danger" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <h5 class="mt-3 text-secondary">Loading products.....</h5>
            </div>
        </div>
    }
    else
    {
        <div class="row mb-4">
            <div class="col-12">
                <div class="p-4 text-white rounded-3 shadow-sm hero-banner text-center">
                    <h1 class="display-5 fw-bold">Welcome, just OneClick away 🚀</h1>
                    <p class="lead opacity-75">
                        Discover premium technology at unbeatable prices. Fast, secure, and easy.
                    </p>
                </div>
            </div>
        </div>

        <ProductFilters Categories="@categories"
                        ResultCount="@GetFilteredAndPAginateProducts().Count"
                        @bind-SearchText="SearchText"
                        @bind-SelectedCategory="SelectedCategory"
                        @bind-SelectedStatus="SelectedStatus"
                        >
        </ProductFilters>

        @if (GetFilteredAndPAginateProducts().Count == 0)
        {
            <div class="text-center py-5">
                <div style="font-size: 3rem;">🕵️‍♂️</div>
                <h3 class="text-muted mt-2">No products found</h3>
                <p>Try adjusting your search or filters.</p>
            </div>
        }
        else
        {
            <div class="row g-4">

                @foreach (var product in GetFilteredAndPAginateProducts())
                {
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <ProductCard Product="@product" OnAddToCart="@HandleAddToCart" />
                    </div>
                }

            </div>

            <div class="row mt-4">
                <div class="col-12">
                    <Pagination CurrentPage="currentPage" TotalPages="totalPages" SelectedPage="PageChanged"></Pagination>
                </div>
            </div>
        }        
    }   

</div>
