<div class="top-row ps-3 navbar navbar-dark" style="background-color: #D32F2F; justify-content: flex-start;">
    <div class="container-fluid">
        <a class="d-flex" href="">
            <i class="bi bi-cursor-fill text-white fs-4 me-1"></i>
            <span class="text-white fw-bold fs-4" style="letter-spacing: 0.5px; font-family:cursive;">OneClick!</span>
        </a>

        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home me-2" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="oi oi-box me-2" aria-hidden="true"></span> Manage Products
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <span class="oi oi-list-rich me-2" aria-hidden="true"></span> Manage Categories
            </NavLink>
        </div>

       

    </nav>

    
</div>

@code {
    // === LA CLAVE DEL ÉXITO ===
    // true = Empieza CERRADO (colapsado)
    // false = Empieza ABIERTO
    private bool collapseNavMenu = true;

    // Esta línea traduce el true/false a la clase CSS que oculta el menú
    private string? NavMenuCssClass => collapseNavMenu ?  "collapse" : null;

    // Esta función funciona como un interruptor de luz (prende/apaga)
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

