﻿<div class="top-row ps-3 navbar navbar-dark" style="background-color: #D32F2F; justify-content: flex-start;">
    <div class="container-fluid">
        <a class="d-flex" href="">
            <i class="bi bi-cursor-fill text-white fs-4 me-1"></i>
            <span class="text-white fw-bold fs-4" style="letter-spacing: 0.5px; font-family:cursive;">OneClick!</span>
        </a>

        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</div>


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link p-0" href="" Match="NavLinkMatch.All">
                <div class="d-flex align-items-center py-2 px-3 gap-3">
                    <i class="bi bi-house-door-fill fs-5 lh-1"></i>
                    <span class="fs-6 pb-1">Home</span>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-0" href="products">
                <div class="d-flex align-items-center py-2 px-3 gap-3">
                    <i class="bi bi-box-seam fs-5 lh-1"></i>
                    <span class="fs-6 pb-1">Manage Products</span>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-0" href="categories">
                <div class="d-flex align-items-center py-2 px-3 gap-3">
                    <i class="bi bi-tags fs-5 lh-1"></i>
                    <span class="fs-6 pb-1">Manage Categories</span>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-0" href="about">
                <div class="d-flex align-items-center py-2 px-3 gap-3">
                    <i class="bi bi-info-circle-fill fs-5 lh-1"></i>
                    <span class="fs-6 pb-1">About</span>
                </div>
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}