@using Microsoft.AspNetCore.Components.Authorization


<div class="nav-scrollable" style="height: 100%; overflow-y: auto; overflow-x: hidden;">
    <nav class="flex-column pt-3">

        <div class="nav-item px-3">
            <NavLink class="nav-link p-0" href="" Match="NavLinkMatch.All">
                <div class="d-flex align-items-center py-2 px-3 gap-3">
                    <i class="bi bi-house-door fs-5 lh-1 brand-icon"></i>
                    <span class="fs-6 pb-1 nav-text">Home</span>
                </div>
            </NavLink>
        </div>

        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link p-0" href="products">
                        <div class="d-flex align-items-center py-2 px-3 gap-3">
                            <i class="bi bi-box-seam fs-5 lh-1 brand-icon"></i>
                            <span class="fs-6 pb-1 nav-text">Manage Stock</span>
                        </div>
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link p-0" href="categories">
                        <div class="d-flex align-items-center py-2 px-3 gap-3">
                            <i class="bi bi-tags fs-5 lh-1 brand-icon"></i>
                            <span class="fs-6 pb-1 nav-text">Manage Categories</span>
                        </div>
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link p-0" href="/admin/users">
                        <div class="d-flex align-items-center py-2 px-3 gap-3">
                            <i class="bi bi-people-fill lh-1 brand-icon"></i>
                            <span class="fs-6 pb-1 nav-text"> Manage Users</span>
                        </div>
                    </NavLink>
                </div>
                               
            </Authorized>
        </AuthorizeView>
        

        <div class="nav-item px-3">
            <NavLink class="nav-link p-0" href="my-orders">
                <div class="d-flex align-items-center py-2 px-3 gap-3">
                    <i class="bi bi-receipt fs-5 lh-1 brand-icon"></i>
                    <span class="fs-6 pb-1 nav-text">My Orders</span>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-0" href="about">
                <div class="d-flex align-items-center py-2 px-3 gap-3">
                    <i class="bi bi-info-circle fs-5 lh-1 brand-icon"></i>
                    <span class="fs-6 pb-1 nav-text">About</span>
                </div>
            </NavLink>
        </div>

    </nav>
</div>

@code {
    // EMPTY CODE BLOCK
    // No logic needed here anymore. MainLayout handles the toggle.
}